* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    overflow: auto;
    margin: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: #1e73be;
}

header nav h1 {
    margin: 0 !important;
    font-size: 22px !important;
    color: #fff;
    float: left;
    padding-top: 10px;
    padding-bottom: 0 !important;
}

header nav ul {
    list-style: none;
    float: right;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

header nav ul li a:hover {
    background-color: #87c357;
}

header nav ul li a.logout:hover {
    color: #87c357;
    background-color: #1e73be;
}
.form {
    width: 500px;
    color: #fff;
    padding: 20px;
    margin: 30px auto;
    background-color: rgba(30, 115, 190, 1);
    border-radius: 10px;
}

.logo {
    width: 150px;
    margin-left: 520px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.logo-register {
    margin-top: 7px;
}

.form.register {
    margin-top: 10px;
}

form {
    width: 100%;
}

form label {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}

form input[type='text'],
form input[type='password'] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 17px;
    border: none;
    border-radius: 12px;
}

form input[type='submit'] {
    display: block;
    width: 25%;
    padding: 10px 12px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #87c357;
    color: #fff;
    cursor: pointer;
} 

.form-report label {
    font-size: 22px;
}

.form-report input[type="text"], textarea {
    border: 2px solid rgb(30, 115, 190);
    border-radius: 10px;
    background-color: #eaeaea;
}

textarea {
    width: 100%;
    height: 300px;
    font-size: 18px;
    padding: 10px;
}

.form-report {
    width: 80%;
    margin: 30px auto;
}

.form-report input[type="submit"] {
    /* background-color: rgb(30, 115, 190); */
    width: 20%;
}

.content {
    background-color: #87c357;
    text-align: center;
    margin-top: 20px;
    height: 100vh;
}

.content h1 {
    margin-top: 30px;
}

.box {
    width: 300px;
    height: 200px;
    padding-top: 75px;
    margin-top: 40px;
    background-color: rgba(30, 115, 190, .7);
}

.box.report {
    float: left;
    margin-left: 250px;
}
.box.common  {
    float: right;
    margin-right: 250px;
}

.issue-box {
    padding: 10px;
    margin: 20px 0;
    background-color: rgba(30, 115, 190, .4);
    border-radius: 20px;
    overflow: auto;
}

.issue-box h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

div.info {
    float: left;
    width: 20%;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: #87c357
}

.issue-box div.info.pending {
    background-color: #777;
    color: #fff;
}

.invalid-feeback {
    color: #de7373;
}

.alert {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
}

.alert-success {
    background-color: #87c357;
}

form input[type='text'].invalid-field,
form input[type='password'].invalid-field {
    border: #de7373 solid 2px;
}

.alert-danger {
    background-color: #de7373;
}