{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="issue-box">
            <h1>Can't connect to internet</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nulla blanditiis. Sapiente reprehenderit, veritatis, soluta rem aut exercitationem itaque quae harum magni nostrum, tempore cum fugit dolor et ducimus consectetur quo mollitia eius eos molestiae autem. Possimus culpa dolore placeat voluptas, doloribus eveniet omnis perspiciatis sunt accusantium non voluptate temporibus nulla inventore quas ea eligendi. Earum incidunt nisi temporibus tempore distinctio obcaecati veritatis sint dignissimos itaque praesentium sit, quasi vitae sunt, laboriosam quibusdam necessitatibus similique quia quis qui quo! Voluptates iure voluptatem cumque doloribus numquam, facilis repudiandae. Magnam dolorum veniam neque itaque doloremque error, et sed quos eligendi sint eos?</p>
            <p><small class = "details">Resolved</small></p>
            <p><small class = "details">2021-07-21</small></p>
        </div>
        <div class="issue-box">
            <h1>Monitor not working</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nulla blanditiis. Sapiente reprehenderit, veritatis, soluta rem aut exercitationem itaque quae harum magni nostrum, tempore cum fugit dolor et ducimus consectetur quo mollitia eius eos molestiae autem. Possimus culpa dolore placeat voluptas, doloribus eveniet omnis perspiciatis sunt accusantium non voluptate temporibus nulla inventore quas ea eligendi. Earum incidunt nisi temporibus tempore distinctio obcaecati veritatis sint dignissimos itaque praesentium sit, quasi vitae sunt, laboriosam quibusdam necessitatibus similique quia quis qui quo! Voluptates iure voluptatem cumque doloribus numquam, facilis repudiandae. Magnam dolorum veniam neque itaque doloremque error, et sed quos eligendi sint eos?</p>
            <p><small class = "details pending">Pending</small></p>
            <p><small class = "details">2021-07-21</small></p>
        </div>
        <div class="issue-box">
            <h1>Can't connect to the print server</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, nulla blanditiis. Sapiente reprehenderit, veritatis, soluta rem aut exercitationem itaque quae harum magni nostrum, tempore cum fugit dolor et ducimus consectetur quo mollitia eius eos molestiae autem. Possimus culpa dolore placeat voluptas, doloribus eveniet omnis perspiciatis sunt accusantium non voluptate temporibus nulla inventore quas ea eligendi. Earum incidunt nisi temporibus tempore distinctio obcaecati veritatis sint dignissimos itaque praesentium sit, quasi vitae sunt, laboriosam quibusdam necessitatibus similique quia quis qui quo! Voluptates iure voluptatem cumque doloribus numquam, facilis repudiandae. Magnam dolorum veniam neque itaque doloremque error, et sed quos eligendi sint eos?</p>
            <p><small class = "details">Resolved</small></p>
            <p><small class = "details">2021-07-21</small></p>
        </div>
    </div>
{% endblock %}