{% extends 'base.html' %}
{% block body %}
<div>
    <div class="container">
        <div class="form-report">
            <form method = "POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.title.label }}

                    {% if form.title.errors %}
                        {{ form.heading_field(class = "invalid-field") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% endif %}

                    {{ form.title() }}
                </div>
                <div class="form-group">
                    {{ form.content.label }}

                    {% if form.content.errors %}
                        {{ form.content(class = "invalid-field") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% endif %}

                    {{ form.content() }}
                </div>
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>
{% endblock %}