{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1>Issues by {{ user.firstname }} ({{ issues.total }})</h1>
        {% for issue in issues.items %}
        <div class="issue-box">
            <h1>
                <a href="{{ url_for('issue', issue_id = issue.id) }}">{{ issue.title }}</a>
            </h1>
            <p>{{ issue.content }}</p>
            <div class="details">
                <div class="info {{ issue.status|lower }}">
                    <p>
                        <small class = "details">{{ issue.status }}</small>
                    </p>
                </div>
                <div class="info">
                    <p>
                        <small class = "details">{{ issue.date_created.strftime('%Y-%m-%d') }}</small>
                    </p>
                </div>
                <div class="info">
                    <p>
                        <a href="{{ url_for('user_issues', firstname = issue.author.firstname) }}">
                            <small class = "details">
                                posted by <strong>{{ issue.author.firstname }}</strong>
                            </small>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="links">
            {% for page_num in issues.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if issues.page == page_num %}
                        <a href="{{ url_for('user_issues', firstname = user.firstname, page = page_num) }}" class="page_num link_active">
                            {{ page_num }}
                        </a>
                    {% else %}
                        <a href="{{ url_for('user_issues', firstname = user.firstname, page = page_num) }}" class="page_num">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}